@media (max-width:780px) {

    body,
    html {
        overflow-x: hidden;
        max-width: 100vw;
    }

    .home {
        z-index: -1;
        margin-top: -30px;


    }

    .home img {
        height: 100px;
        top: 40%;
    }

    .footerRow {
        display: flex;
        flex-direction: column;
    }

    .phoneLogo {
        text-align: center;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phoneLogo img {
        height: 50px;
        display: block;
        filter: invert(90%);
        margin: 10px 0px;

    }

    .tagline {
        font-size: 25px;
        top: 75%;
    }

    .date {
        font-size: 20px;
    }

    #navbar.scrolled .menu a {
        color: red;
        display: none;

    }

    #navbar {
        height: 120px;

    }

    .menu {
        margin-top: -50px;
    }


    .secondPage {
        width: 100vw;
        padding: 15px;
    }

    .imgP {
        flex-direction: column !important;
        width: 90vw;
        align-items: center;
    }


    .thiredPage {
        width: 100vw;
    }

    .contentofPA {
        display: none;
    }

    .bg-darkDesaturatedBlue {
        background-color: rgb(219, 13, 13);
        width: 80px !important;
        height: 55px !important;
    }

    .bg-slightlyDarkerDesBlue {
        background-color: rgb(219, 13, 13);
        width: 80px !important;
        height: 55px !important;
        margin: 0;
    }

    .textSizeofTimee {
        font-size: 25px;
        --tw-scale-y: 3;
        --tw-scale-x: 2;
        margin-bottom: 35px;
    }

    .textSizeofTime {
        font-size: 25px;
        --tw-scale-y: 3;
        --tw-scale-x: 2;
    }



    .gapofTime {
        gap: 10px !important;
    }

    .text-grayishBlue {
        font-size: 15px !important;
    }

    .firstPageContainer {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .firstPage h1 {
        font-size: 20px;
    }
}