/* @font-face {
    font-family: "waterlilly";
    src: url(./fonts/Waterlily\ Script.ttf);
} */

* {
  margin: 0;
  padding: 0;
}
html, body{
  overflow-x: hidden;
}


.container {
  margin-top: 100px;
}

.eventsPage {
  padding: 50px 0;
}

/* card  */
.card {
  width: 300px;
  margin: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-img-top {
  height: 300px;
  object-fit: cover;

}


.card-title {
  color: #ffffff;
  margin-top: 10px;
}

.card-text {
  color: #ffffff;
}


.card-01.height-fix .fa {
  color: #fff;
  font-size: 22px;
  margin-right: 18px;
}

.card-01.height-fix .card-img-overlay {
  top: unset;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(211, 15, 15, 0) 0%, rgba(187, 40, 40, 0) 1%, rgba(183, 45, 45, 0.91) 31%, rgba(202, 35, 35, 0.91)  100%);
  background: -webkit-linear-gradient(top, rgba(211, 15, 15, 0) 0%, rgba(187, 40, 40, 0)1%, rgba(183, 45, 45, 0.91) 31%, rgba(202, 35, 35, 0.91) 100%);
  background: linear-gradient(to bottom, rgba(211, 15, 15, 0) 0%, rgba(187, 40, 40, 0) 1%, rgba(183, 45, 45, 0.91) 31%, rgba(202, 35, 35, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a606f', endColorstr='#e8154159', GradientType=0);
}

/* footer css */
.footer-section {
  background: #cfcfcf;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: teal;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: teal;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.phoneLogo{
  display: none;
}